@import "../../style/color";

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: $background-color;

  .block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 500px;
    background: $white-color;
    border-radius: 15px;
    border: 1px solid $primary-pink-color;
    box-sizing: border-box;
    padding: 20px 35px;

    h1 {
      font-size: 32px;
      text-align: center;
    }

    .inputsBlock {

    }
  }
}