$primary-burgundy-color: #260108;
$primary-burgundy-color-1: rgba($primary-burgundy-color, 0.1);
$primary-burgundy-color-5: rgba($primary-burgundy-color, 0.5);
$white-color: #fff;
$placeholder-gray-color: #757575;
$disabled-gray-color: #ddd;
$error-red-color: #ff0000;
$background-color: #f5f4f4;
$primary-pink-color: #d9c5c9;

//#260108
//#590212
//#8C031C
//#706E73 gray
//#D9C5C9 pink
//#f5f4f4