$primary-burgundy-color: #3c070a;
$primary-burgundy-color-5: rgba($primary-burgundy-color, 0.5);
$white-color: #fff;
$placeholder-gray-color: #757575;
$disabled-gray-color: #ddd;
$error-red-color: #ff0000;